<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to css/main.css stylesheet -->>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/aint_shit">Ain't Shit</a></li>
        		<li><a href="/nonsense">Nonsense</a></li>
        		<li><a href="/uselessness">Uselessness</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
        		<li><a href="https://github.com/majlind">peep mi github</a></li>
			</ul>
		</footer>
	</body>
</html>
