<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to css/main.css stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- link to some Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/Yo">Yo</a></li>
	        	<li><a href="/Nothing">Nothing</a></li>
        		<li><a href="/Here">Here</a></li>
        		<li><a href="/Yet">Yet</a></li>
    		</ul>
		</nav>
		<div class="container">

    {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://www.instagram.com/majlind.com_/">Here's IG</a></li>
        		<li><a href="https://github.com/majlind">Here's GitHub</a></li>
			</ul>
		</footer>
	</body>
</html>
